body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: grey;
    background: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#nametag{
    margin-right: 75%;
}

.navbar a {
    font-size: 14px;
    color: black;
    font-weight: 500;
    margin-left: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: gray;
}